@font-face {
	font-family: 'OpenSans-Light_0';
	src: url('../fonts/OpenSans-Light_0.woff') format('woff');
	font-weight: normal;
	font-style: normal;}
@font-face {
	font-family: 'OpenSans-Bold_0';
	src: url('../fonts/OpenSans-Bold_0.woff') format('woff');
	font-weight: normal;
	font-style: normal;}
@font-face {
	font-family: 'OpenSans-Regular_0';
	src: url('../fonts/OpenSans-Regular_0.woff') format('woff');
	font-weight: normal;
	font-style: normal;}
body{
	width:100%;
	margin:0;
	padding:0;
	font-family: 'OpenSans-Light_0';
	background:url('../images/bg.jpg') no-repeat;
	background-size: cover;


}


.full_body:after{
	display:block;
	clear:both;
	content:"";
}
.clear{
	display:block;
	clear:both;
	content:"";

}
.headerArea{
	width:100%;
	background:rgba(30,56,91,.5);
	height:127px;
}
.headerArea:after{
	content:"";
	display:block;
	clear:both;
}
.header_main{
	max-width:1200px;
	margin:0 auto;

}
.header_main ul{
	list-style:none;
	margin:0;
	padding:0;

}
.header_main ul li{
	float:left;
	padding:40px 40px 40px 0;
}
.header_main ul li a{
	font-size:35px;
	color:#FFFFFF;
	text-decoration:none;
	position:relative;
}
.header_main ul li a:hover{
	color:#98ACBE;

}
.header_main ul li:nth-child(2) a{
	color:#B3CFE8;
}
.header_main ul li:nth-child(2) a:after{
	display:none;
}
.header_main ul li a:after{
	content: "|";
	display: block;
	position: absolute;
	top: 0px;
	color:#FFFFFF;
	right: -29px;

}

/*---------end of header--------------------------*/
/*---------end of header--------------------------*/
/*---------end of header--------------------------*/

.content_area{
	max-width:1200px;
	margin:0 auto;
	min-height:739px;
}
.content_area:after{
	content:"";
	display:block;
	clear:both;
}
.fpag_content img{
	padding-top:37px;

}
.fpag_content{
	padding: 40px 0 0 0;
}
.fpag_content h1{
	font-size:50px;
	color:#ffffff;
	opacity: 0.8;
}
.fpag_content p{
	font-size:22px;
	color:#ffffff;
	line-height:30px;
	opacity: 0.7;
}
.fpag_content p>span{
	color:#ffffff;

	font-family: 'OpenSans-Bold_0';

}
.fpag_content button{
	color:#B3CFE8;
	background:#2D465E;
	font-size:22px;
	border: none;
	border-radius:5px;
	padding:9px 12px;

}
.fpag_content button:hover{
	background:#243E64;
}
.fa-arrow-circle-right{
	color:#B3CFE8;
}
.spag_content{
	padding: 40px 0 0 0;
}

.spag_content p{
	font-size:22px;
	color:#ffffff;
	line-height:30px;
	opacity: 0.7;
}
.spag_content p>span{
	color:#ffffff;

	font-family: 'OpenSans-Bold_0';

}
.spag_content button{
	color:#B3CFE8;
	background:#2D465E;
	font-size:22px;
	border: none;
	border-radius:5px;
	padding:9px 12px;

}
.spag_content button:hover{
	background:#243E64;
}
.reg_img2 img{padding-top: 92px;}
/*----------------registration form-------------------*/
/*----------------registration form-------------------*/
/*----------------registration form-------------------*/
.reg_img {
	padding-top:117px;
}

.field{
	color:#FFFFFF;
	/*background:pink;*/
	background: #314356;
	border-radius:4px;
	font-size:18px;
	padding:10px;
}
.field p{
	font-size:18px;
	color:#ffffff;
	opacity: 0.7;
	padding: 0 0 0 10px;
	margin: 21px 0 0 0;
}
input[type="name"],input[type="email"],input[type="address"],input[type="number"],input[type="mail"],select{
	width:100%;
	background: #758492;
	border: none;
	height: 38px;
	border-radius: 7px;
	padding: 0 13px;


}
.fname{
	width:100%;
	background: #758492;
	border: none;
	height: 38px;
	border-radius: 7px;
	padding: 0 13px;

}
.field button{
	background:#24313D;
	margin-top:20px ;
}
.field a{
	text-decoration:underline;
	color:#ffffff;
	font-family: 'OpenSans-Bold_0';
	font-size:18px;
	opacity:.7;
}
.field a:hover{
	text-decoration:none;
}
.forgot button{
	margin-top:0;
}
.forgot{
	margin-top:30px;
}
.l_field{
	padding:19px;
	position:relative;
}







/*----------------registration form-------------------*/
/*----------------registration form-------------------*/
/*----------------registration form-------------------*/









/*-------end of section-------------------------*/
/*-------end of section-------------------------*/
/*-------end of section-------------------------*/
.foot{
	max-width:1200px;
	margin-top: 4em;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	background:rgba(30,56,91,.5);
	padding: 15px;
	border-radius: 5px 5px 0 0;

}
.foot:after{
	content:"";
	display:block;
	clear:both;
}
.footerArea p{
	color:#A1B4C4;
	font-size:13px;
	padding:0;
	margin:0;
}
.footer_list ul{
	list-style:none;
	margin:0;
	padding:0;
}
.footer_list ul li{
	float:right;
	padding:0 10px;
}
.footer_list ul li a{
	color:#A1B4C4;
	font-size:13px;
	font-family: 'OpenSans-Regular_0';
}
.footer_list ul li a:hover{
	text-decoration:none;
	color:#FFFFFF;
}

/*----------tooltip------------*/
#tipDiv {
	font-size:18px;
	line-height:1.3;
	color:#000;
	/*background:url('img/hover.png')no-repeat;*/
	background-size: cover;
	width: 419px;
	height: 166px;
	position: absolute;

	z-index: 10000;
	left: 741px;
	top:500px;


}
#tipDiv .XtipContent {

}

#tipDiv p {
	padding: 3px 35px;
	margin: 24px 23px;
	line-height: 28px;

}
#tipDiv p >a{
	font-weight:bold;
	text-decoration:underline;
	color:#000000;
}
#tipDiv p >span{
	font-weight:bold;
}
#tipDiv .txt {
	text-align:center;
	margin:4px 0;
}

/*---------tooltip end----------------*/

@media only screen and (min-width:0px) and (max-width:900px){
	.header_main ul li{
		padding:0;
	}
	.header_main ul li a:after{
		display:none;
	}
	.header_main ul li{
		float:none;
	}
}




